# Ignore files and folders
./.gitignore
./.venv/
*.mp4

# Ignore everything under report/
report/**

# Re-allow folders and subfolders
!report/
!report/**/

# Re-allow desired file types
!report/**/*.tex
!report/**/*.sty
!report/**/*.pdf
